<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Detailed Product View</h1>
      <p class="lead">this is app/productsX/detail.html</p>
    </div>
  </header>

  <div id="{{singleProduct.productId}}" class="productListItem">
    <span class="pull-right cross-btn" ng-click="closeProduct()">&times;</span>
    <img ng-src="assets/images/{{singleProduct.imageName}}" alt="{{singleProduct.name}}" height="150">
    <div class="name">Name: {{singleProduct.name}}</div>
    <div class="productId">Product Id: {{singleProduct.productId}}</div>
    <div class="category">Category: {{singleProduct.category}}</div>
    <div class="shortDesc">Short: {{singleProduct.shortDescription}}</div>
    <div class="longDesc">Long: {{singleProduct.longDescription}}</div>
    <div class="tags">tags: {{singleProduct.tags}}</div>
    <div class="size">Size: {{singleProduct.size}}</div>
    <div class="price">Price: ${{singleProduct.price}}</div>
  </div>

  <div class="purchase">
    <label for="quantity">Quantity:
    </label><input id="quantity" class="quantity" size="2" type="text" ng-model="singleProduct.quantity"/>
    <button type="submit" ng-click="addToCart(singleProduct)">Purchase</button>
  </div>

</div>
