<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Searchable, Filterable List of Products</h1>
      <p class="lead">this is app/productsX/list.html</p>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        <label for="myFilter">Filter: </label><input id='myFilter' ng-model="myFilter">

        <div id="searchParameters">
          <br>
          <br>
          <label for="searchName">Name: </label><input id='searchName' ng-model="searchName">
          <button ng-click="searchByName(searchName)">Search</button>
          <br>
          <br>
          <button type="reset" ng-click="reset()">Reset</button>
        </div>

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="product in products | filter:myFilter">
            <div id="{{product.productId}}" class="productListItem">
              <div class="name">Name:
                <a ui-sref="productDetail({id:product._id,permalink:product.permalink})">{{product.name}}</a>
              </div>
              <div class="productId">Product Id: {{product.productId}}</div>
              <div class="category">Category: {{product.category}}</div>
              <div class="shortDesc">Short: {{product.shortDescription}}</div>
              <div class="longDesc">Long: {{product.longDescription}}</div>
              <div class="tags">tags: {{product.tags}}</div>
              <div class="size">Packaging: {{product.packaging}}</div>
              <div class="price">Price: ${{product.price}}</div>
            </div>
          </li>
        </ul>

        <hr>
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
