<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Shopping Cart</h1>
      <p class="lead">Hello {{ getCurrentUser().name }}. This is the cart view.</p>
    </div>
  </header>

  <div ng-show="cartContents">
    <table>
      <tr>
        <th>Product</th><th>Qty</th><th>Price</th><th>Item Total</th>
      </tr>
      <tr ng-repeat="orderItem in cartContents">
        <td>{{ orderItem.name }}</td>
        <td>{{ orderItem.quantity }}</td>
        <td>${{ orderItem.price }}</td>
        <td>${{ (orderItem.quantity * orderItem.price).toFixed(2) }}</td>
      </tr>
      <tr >
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Subtotal: </td>
        <td>${{subTotal}}</td>
      </tr>
      <tr >
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Tax (8%): </td>
        <td>${{tax}}</td>
      </tr>
      <tr >
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Order Total: </td>
        <td>${{orderTotal}}</td>
      </tr>
    </table>
    <button type="submit" ng-click="showShippingFunc()">Proceed to Checkout</button>
  </div>

  <div ng-show="shipping.show">
    <div>Shipping</div>
    <label for="shippingZip">Enter ZipCode</label><input type="text" ng-model="shipping.zip" id="shippingZip"/>
    <button type="submit" ng-click="estimateShippingCosts()">Estimate Shipping Costs</button>
    <img height='25' ng-src="assets/images/UPS_LOGO_S.gif" alt="UPS">

    <div ng-show="shipping.estimates.length">
      <table>
        <tr>
          <th>Type</th><th>Cost</th>
        </tr>
        <tr ng-repeat="shipment in response.RatedShipment | orderBy: 'TotalCharges.MonetaryValue'">
          <td>{{ getServiceCodeDesc(shipment.Service.Code) }}</td>
          <td>${{ shipment.TotalCharges.MonetaryValue }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-hide="cartContents">
    No items found in cart
  </div>
</div>
